@import '../../assets/css/variables.scss';

.products .products-list {
    background-color: #f6f6f6;
    padding: 60px 40px;
}
.products .products-menu-card {
    background-color: white;
    padding: 15px 0;
    border: 1px solid #cfcfcf;
    margin: 0px;
}
.products .heading-second-column {
    font-weight: bold;
    font-size: 30px;
}
.products .select-drop-down {
    background-color: white;
    color: #d0d0d0;
    height: 40px;
    width: 150px;
    text-align: center;
    border: 1px solid #d0d0d0;
    padding-left: 5px;
    cursor: pointer;
    margin: 0 30px;
    float: right;
    vertical-align: middle;
    margin-top: -9px;
}
.products .heading-second-column .heading-attriute {
    font-size: 15px;
}
.products .sub-input {
    float: right;
}
.products .products-menu-card li {
    list-style: none;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    list-style-type: none;
    padding: 0;
}
.products .products-menu-card .main-heading {
    font-size: 16px;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 15px;
    padding-left: 20px;
    cursor:pointer;
}
/* .products .products-menu-card .sub-heading{ */
    /* display:none; */
/* } */
.products .products-menu-card .sub-heading p {
    font-size: 16px;
    margin: 20px 25px 15px 50px;
    }
.products .products-menu-card .sub-heading:hover {
    background-color: #ededed;
    cursor:pointer;
}
.products .submenu-order-list a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.products .filter-image {
    height: 25px;
    margin-top: 20px;
    margin-bottom:15px;
}
.products .image-card {
    background-color: white;
    border:2px solid white;
    cursor:pointer;
    position:relative;
}
.products .pd-image-style{
    position:relative;
    text-align: center;
    object-fit: contain;
    height: 305px;
    background-color: #fff;
    width:100%;

}
.products .image-bottom-text{
    padding:10px;
}
.products .image-bottom-text h4{
    margin:8px 0;
}
.products .product-price{
    font-weight:bold;
    /* padding:10px; */
}
.products .image-card:hover{
    border:2px solid #4DD308;
}

.products .image-card:hover #rent-hover-div{
    display: block;
}

.products #rent-hover-div{
    display:none;
    position:absolute;
    bottom: 50px;
    background:rgba(255,255,255,0.5);
    width:100%;
    font-weight:bold;
    color:#969696;
}

.products #rent-hover-div p{
    margin-left: 50px;
}
