<template>
    <div class="products">
        <navbar></navbar>
        <div class="products-list">
            <el-row :gutter="40">
                <el-col :xs="6" :sm="6" :md="6" :lg="6" :xl="6">
                    <div class="products-menu-card">
                        <div v-for="(category,key) in category_list.data" :key="key">
                            <p class="main-heading" @click=openSubCategory()>{{category.name}}</p>
                            <div v-for="(sub_category,sub_index) in category.sub" :key="sub_index" class="sub-heading">
                                <p>{{sub_category.name}}</p>
                            </div>
                        </div>
                    </div>
                </el-col>
                <el-col :xs="18" :sm="18" :md="18" :lg="18" :xl="18">
                    <p class="heading-second-column">Paintings and Artworks on Rent</p>
                    <p>
                        <span class="heading-attriute" style="float:left;">Showing (3 matching products)</span>
                        <span class="sub-input">
                                        Sort By &nbsp;
                                    <select class="select-drop-down">
                                        <option value="Distance">Distance</option>
                                        <option value="Newest First">Newest First</option>
                                        <option value="Popularity">Popularity</option>
                                        <option value="rent">Rent:High to Low</option>
                                        <option value="low">Rent:Low to High</option>
                                    </select>
                                    </span>
                    </p>
                    <br>
                    <img class="filter-image" src="../../assets/filter (1).png">
                    <div>
                        <el-row :gutter="20">
                            <el-col v-for="(Product,index) in ProductJson.search_results.results" :key=index :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                                <div class="image-card">
                                    <div style="position:relative">
                                        <img class="pd-image-style" :src="Product.images[0].url">
                                        <div id="rent-hover-div">
                                            <p v-if="Product.rental_price_day > 0">
                                                {{Product.rental_price_day}} pd
                                            </p>
                                            <p v-else-if="Product.rental_price_month > 0">
                                                {{Product.rental_price_month}} pm
                                            </p>
                                            <p v-else-if="Product.rental_price_week > 0">
                                                {{Product.rental_price_week}} pw
                                            </p>
                                        </div>
                                    </div>
                                    <div class="image-bottom-text">
                                        <h4>{{Product.name}}</h4>
                                        <span v-if="Product.rental_price_day > 0">{{Product.rental_price_day}} per day </span>
                                        <span v-else-if="Product.rental_price_month > 0">{{Product.rental_price_month}}  per month </span>
                                        <span v-else-if="Product.rental_price_week > 0">{{Product.rental_price_week}}  per week </span>
                                        <el-rate v-model="Product.avg_star" disabled show-score text-color="#ff9900">
                                        </el-rate>
                                    </div>
                                </div>
                            </el-col>
                        </el-row>
                    </div>
                </el-col>
            </el-row>
        </div>
    </div>
</template>

<script>
import navbar from '../../components/navbar'
import ProductJson from '../ProductDetails.json'
import axios from 'axios'
export default {
    name: 'products',
    components: {
        navbar
    },
    data() {
        return {
            ProductJson: ProductJson,
            category_list : ['dssd']
        }

    },
    created() {
        this.getCategories();
    },
    methods: {
        getCategories(){
            axios.get('https://devend.cayal.in:5000/categories/')
            .then(function (response) {
                if(response.data.status == 200){
                    this.category_list = response.data;
                }
            }.bind(this))
            .catch(function (error) {
                console.log(error);
            });
        }
    },
};
</script>

<style lang="scss">
@import'./ProductDetails.scss';
</style>
