<template>
  <div class="navbar">
    <div class="navbar-heading">
      <el-row>
        <el-col :xs="6" :sm="6" :md="6" :lg="6" :xl="6">
          <img class="cayal-logo" src="../assets/banner-logo.f584d530 (1).jpg">
        </el-col>
        <el-col :xs="14" :sm="14" :md="14" :lg="14" :xl="14">
          <!-- <form action="/action_page.php" method="get"> -->
          <span>
            <select class="City-List">
              <option value="city">All Of Chennai</option>
              <option value="city">Popular Locations</option>
              <option value="city">Thiruvanmiyur</option>
              <option value="city">All cities</option>
              <option value="city">Bangalore</option>
              <option value="city">chennai</option>
            </select>
          </span>
          <div style="display: inline-block">
            <input class="valid" placeholder="Search" type="text" name="name">
          </div>
        </el-col>
        <el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
          <div class="registration">
            <span>Sign In |</span> &nbsp;
            <span>Register</span>
          </div>
          <!-- <div class="user-name">
            <span>dd@gmail.com</span>
            <span class="dropdown">
              <img class="dropbtn" src="../assets/chevron-arrow-down.png">
              <div class="dropdown-content">
                <a href="#">My Account</a>
                <a href="#">My Catalogue</a>
                <a href="#">My Transaction</a>
                <a href="#">My Profile</a>
                <a href="#">Admin Dashboard</a>
                <a href="#">Sign out</a>
              </div>
            </span>
          </div> -->
        </el-col>
      </el-row>
    </div>
    <div class="top-navbar-menu">
      <div class="category-list">
        <ul>
          <li v-for="(category,index) in category_first_four_elements" :key="index">
            <a class="drop">{{category.name}}</a>
            <div class="sub-category-list">
              <div v-for="(sub_category,sub_index) in category.sub" :key="sub_index">
                <a href="#">{{sub_category.name}}</a>
              </div>
            </div>
          </li>
          <li>
            <a class="drop">&more</a>
            <div class="sub-category-list">
              <div v-for="(second_category,next) in next_categories" :key="next" >
                <a href="#">{{second_category.name}}</a>
              </div>
            </div>
          </li>
          <li class="right-corner" style="float:right"><a>Request Product</a></li>
          <li style="float:right"><button class="btn">List Product</button></li>
          <li class="right-corner" style="float:right"><a>How It Works</a></li>
        </ul>
      </div>
    </div> 
</div>
</template>
<script>
import axios from 'axios'
export default {
  name: 'navbar',
  data () {
    return {
      categoryJson: [],
      category_first_four_elements: [],
      next_categories: []
    }
  },
  created () {
    this.getCategoryList()
  },
  methods: {
    getCategoryList(){
      axios.get('https://devend.cayal.in:5000/categories/')
      .then(function (response) {
        if(response.data.status == 200){
          this.categoryJson = response.data;
          this.arrangeCategories();
        }
    }.bind(this))
    .catch(function (error) {
        console.log(error);
    });
  },
  arrangeCategories(){
    for (var i = 0; i < this.categoryJson.data.length; i++) {
      if (this.categoryJson.data[i].name === 'Books'  || this.categoryJson.data[i].name == "Kids' stuff" || this.categoryJson.data[i].name ==='Hobbies & Recreation' ||this.categoryJson.data[i].name === 'Womens Wear') {
        this.category_first_four_elements.push(this.categoryJson.data[i])
          console.log('true', this.category_first_four_elements)
        } else {
          this.next_categories.push(this.categoryJson.data[i]) 
        console.log('false', this.next_categories)
              }
    }
  }
  }
};
</script>
<style lang="scss">
@import '../assets/css/variables.scss';
.navbar .City-List {
  background-color: white;
  color: #d0d0d0;
  height: 40px;
  width: 200px;
  text-align: center;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  padding-left: 5px;
  cursor:pointer;
  margin: 0 30px;
}

.navbar .City-List option{
  padding:10px 5px;
  height:20px!important;
  padding:20px;
}
.navbar .AccountList {
  float: right;
}
.navbar .cayal-logo {
  height: 40px;
  margin:5px;
  cursor:pointer;
  margin-bottom:0;
}
.navbar-heading {
  padding:5px;
}
.navbar input.valid {
  border:1px solid  #d0d0d0;
  padding-right: 30px;
  background-image: url("../assets/search.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: right 5px center;
  height:37px;
  border-radius:5px;
  color:#d0d0d0;
  padding-left:5px;
  width:200px;
  cursor:pointer;
}
::placeholder {
  color:#d0d0d0 ;
}
/* dropdown:hover .AccountList {display: block;} */
.navbar .dropbtn {
  color: black;
  cursor: pointer;
  height:10px;
  margin:0 10px;
}

.navbar .dropdown {
  position: relative;
  display: inline-block;
}

.navbar .dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
  float: right;

}

.navbar .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.navbar .dropdown-content a:hover {
  background-color: #f1f1f1;
  }
.navbar .dropdown:hover .dropdown-content {
  display: block;
  }
.navbar .user-name{
  margin-top:10px;
  text-align:right;
  margin-right:5px;
}
/* ******************************Horizontal-Navbar************** */
.top-navbar-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width:100%;
}

.top-navbar-menu li {
  float: left;
  cursor:pointer;
}

.top-navbar-menu li .drop {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.top-navbar-menu li a:hover {
  color:green;
}
.top-navbar-menu .btn{
  text-align:center;
  background-color:$orange;
  margin-top:5px;
  height:35px;
  margin-bottom:5px;
  width:120px;
  border-radius:5px;
  border:none;
  color:white;
}
/* ************Horizontal-row-dropdown************* */
.drop {
  color: white;
  padding: 16px;
  font-size: 16px;
}
.category-list {
  position: relative;
}
.sub-category-list {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  top: 30px;
  z-index: 99;
  border:1px solid #d0d0d0;
  color:black;
}
.sub-category-list a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.sub-category-list a:hover{
  background-color:#EEEEEE;
}

.category-list li:hover .sub-category-list {
  display: block;
  }
.category-list:hover .dropbtn {
  background-color: #3e8e41;
  }
.right-corner{
  color:white;
  margin-top:15px;
  margin-left:10px;
  margin-right:10px;
}
.registration{
  padding:15px 25px;
}
</style>
