<template>
    <div class="cayalLogin">
        <div class="container">
            <div class="login-card">
                <div class="row">
                    <el-row>
                        <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                            <div class="left-column">
                                <h4 class="sign-in">Sign In to </h4>    
                                <h1><b>Cayal</b></h1>   
                                <p class="sub-title">
                                Your Hyperlocal platform to rent share and re use
                                </p>
                            </div>      
                        </el-col>
                        <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                            <div class="right-column">
                                <span class="sign-format">
                                    <h1> SIGN IN WITH</h1>  
                                </span>
                                <p class="icon">
                                    <a href="#"><img src="./facebook.png" alt=""></a> &nbsp;  &nbsp;
                                    <a href="#"><img src="./google-plus.png" alt=""></a> 
                                    <span>&nbsp;</span>
                                </p>
                                <h6>Or With Email</h6>
                                <hr>
                            <div>
                                <input class="label-format" type="email" placeholder="Email">   
                            </div>
                            <div>
                                <input class="label-format" type="Password" placeholder="Password">
                            </div>
                            <div class="footer-name">
                                <footer>
                                    <a href="#">
                                        Forgot Password..??  
                                    </a>
                                </footer> 
                                </div>
                            </div>
                                <div>
                                    <button class="button1">SIGN IN</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                                       <input type="checkbox">
                                    Remember me?
                                </div>
                                <div class="footer-format">
                                    <footer class="footer1">
                                        Don't have an account...?
                                            <a href="#">Regitster with us</a>
                                    </footer>
                                </div>
                        </el-col>
                    </el-row>
                                    
                
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</template>
