<template>
    <div class="contacts">
        <div>
            Name:<input v-model="name">
        </div>

        <div>
            email id:<input v-model="email">
        </div>
        <div>
            message<textarea v-model="text"></textarea>
        </div>
        <div>
            <button @click="getcontacts">Submit</button>
        </div>
    </div>
</template>
<script>
import axios from 'axios';
export default {
    name: 'contacts',
    data() {
        return {
            name:"",
            email:"",
            text:""
        }
        console.log("name",name)
    },

    created (){},
    methods: {
        getcontacts(){
            console.log(this.name, this.email, this.text)
            axios.post('https://devend.cayal.in:5000/contact_us/', {
                emailid: this.email,
                message: this.text,
                name: this.name,
                token: {val: "_cayal"},
                username: "dd@gmail.com"
            })
            .then(function (response) {
                if(response.data.status == 200){
                    console.log(response);
                }
            }.bind(this))
            .catch(function (error) {
                console.log(error);
            })
        }
    },
}
</script>
